In [2]:
import json
import requests
import pandas as pd
import mysql.connector
import plotly.express as px

In [3]:
#  Mysql Connections

mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database='phonepedata',
)

mycursor = mydb.cursor(buffered=True)

In [4]:
#aggre_transaction_df
mycursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table1= mycursor.fetchall()

Aggre_transaction= pd.DataFrame(table1, columns=("States", "Years", "Quarter", "Transaction_type",
                                               "Transaction_count", "Transaction_amount"))

#aggre_user_df
mycursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table2= mycursor.fetchall()

Aggre_user= pd.DataFrame(table2, columns=("States", "Years", "Quarter", "Brands",
                                               "Transaction_count", "Percentage"))

#map_transction
mycursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table3= mycursor.fetchall()

map_transaction= pd.DataFrame(table3, columns=("States", "Years", "Quarter", "District",
                                               "Transaction_count", "Transaction_amount"))

#map_user
mycursor.execute("SELECT * FROM map_user")
mydb.commit()
table4= mycursor.fetchall()

map_user= pd.DataFrame(table4, columns=("States", "Years", "Quarter", "District",
                                               "RegisteredUser", "AppOpens"))

#top_transaction
mycursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table5= mycursor.fetchall()

top_transaction= pd.DataFrame(table5, columns=("States", "Years", "Quarter", "Pincodes",
                                               "Transaction_count", "Transaction_amount"))

#top_user
mycursor.execute("SELECT * FROM top_user")
mydb.commit()
table6= mycursor.fetchall()

top_user= pd.DataFrame(table6, columns=("States", "Years", "Quarter", "Pincodes",
                                               "RegisteredUsers"))

In [5]:
def Transaction_amount_count_Y(df,year):
    tacy= df[df["Years"] == year]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount=px.bar(tacy,x="States",y="Transaction_amount",title=f"{year} TRANSACTION AMOUNT",color_discrete_sequence=px.colors.sequential.Aggrnyl,height= 600,width= 600)
    fig_amount.show()

    fig_count=px.bar(tacy,x="States",y="Transaction_count",title=f"{year} TRANSACTION COUNT",color_discrete_sequence=px.colors.sequential.Jet_r,height= 600,width= 600)
    fig_count.show()
    
    url= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response= requests.get(url)
    data= json.loads(response.content)
    states_name= []
    for feature in data["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1= px.choropleth(tacyg, geojson= data, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "temps",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name= "States", title= f"{year} TRANSACTION AMOUNT", fitbounds= "locations",
                                height= 600,width= 600)
    fig_india_1.update_geos(visible= False)
    fig_india_1.show()

    fig_india_2= px.choropleth(tacyg, geojson= data, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_count", color_continuous_scale= "temps",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name= "States", title= f"{year} TRANSACTION COUNT", fitbounds= "locations",
                                height= 600,width= 600)
    fig_india_2.update_geos(visible= False)
    fig_india_2.show()

    return tacy

In [7]:
def Transaction_amount_count_Y_Q(df,quarter):
    tacy= df[df["Quarter"] == quarter]
    tacy.reset_index(drop= True, inplace= True)

    tacyg=tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)

    fig_amount=px.bar(tacy,x="States",y="Transaction_amount",title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                      color_discrete_sequence=px.colors.sequential.Aggrnyl,height= 600,width= 600)
    fig_amount.show()

    fig_count=px.bar(tacy,x="States",y="Transaction_count",title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                     color_discrete_sequence=px.colors.sequential.Jet_r,height= 600,width= 600)
    fig_count.show()
    
    url= "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response= requests.get(url)
    data= json.loads(response.content)
    states_name= []
    for feature in data["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1= px.choropleth(tacyg, geojson= data, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount", color_continuous_scale= "temps",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name= "States", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations",
                                height= 600,width= 600)
    fig_india_1.update_geos(visible= False)
    fig_india_1.show()

    fig_india_2= px.choropleth(tacyg, geojson= data, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_count", color_continuous_scale= "temps",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name= "States", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations",
                                height= 600,width= 600)
    fig_india_2.update_geos(visible= False)
    fig_india_2.show()

In [8]:
tac_Y=Transaction_amount_count_Y(Aggre_transaction,2020)

ConnectionError: HTTPSConnectionPool(host='gist.githubusercontent.com', port=443): Max retries exceeded with url: /jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x0000028D63B55DF0>: Failed to resolve 'gist.githubusercontent.com' ([Errno 11001] getaddrinfo failed)"))

In [7]:
tac_Y["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y,1)

In [ ]:
def Aggre_Tran_Transaction_type(df, state):
    tacy_P=df[ df["States"]==state]
    tacy_P.reset_index(drop=True,inplace=True)

    tacyg=tacy_P.groupby("Transaction_type")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)
    fig_pie_1= px.pie(data_frame= tacyg, names= "Transaction_type", values= "Transaction_amount",
                        width= 600, title= f"{state.upper()}  TRANSACTION AMOUNT", hole= 0.5)
    # st.plotly_chart(fig_pie_1)
    fig_pie_1.show()
    fig_pie_2= px.pie(data_frame= tacyg, names= "Transaction_type", values= "Transaction_count",
                        width= 600, title= f"{state.upper()}  TRANSACTION COUNT", hole= 0.5)
    fig_pie_2.show()

In [ ]:
Aggre_Tran_Transaction_type(tac_Y,"Tamil Nadu")

In [12]:
aguy= Aggre_user[Aggre_user["Years"]== 2022]
aguy.reset_index(drop= True, inplace= True)

aguyg= pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
aguyg.reset_index(inplace= True)
aguyg

        Brands  Transaction_count
0        Apple           10774897
1         Asus             291136
2       Gionee               7892
3   HMD Global               9363
4       Huawei            4328502
5      Infinix            1595017
6         Lava              31262
7       Lenovo            1833647
8     Micromax             259092
9     Motorola            5003193
10     OnePlus            7614988
11        Oppo           49093736
12      Others           24227235
13      Realme           32685464
14     Samsung           65886550
15       Tecno            3657601
16        Vivo           77224385
17      Xiaomi           88426667

In [9]:
def Aggre_user_plot_1(df, year):
    aguy= df[df["Years"]== year]
    aguy.reset_index(drop= True, inplace= True)

    aguyg= pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace= True)

    fig_bar_1= px.bar(aguyg, x= "Brands", y= "Transaction_count", title= f"{year} BRANDS AND TRANSACTION COUNT",
                    width= 1000, color_discrete_sequence= px.colors.sequential.haline_r, hover_name= "Brands")
    fig_bar_1.show()

    return aguy

In [ ]:
Aggre_user_Y=Aggre_user_plot_1(Aggre_user, 2022)
Aggre_user_Y

In [10]:
def Aggre_user_plot_2(df, quarter):
    aguyq= df[df["Quarter"]== quarter]
    aguyq.reset_index(drop= True, inplace= True)

    aguyqg= pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace= True)

    fig_bar_1= px.bar(aguyqg, x= "Brands", y= "Transaction_count", title=  f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT",
                    width= 1000, color_discrete_sequence= px.colors.sequential.Magenta_r, hover_name="Brands")
    fig_bar_1.show()

    return aguyq

In [ ]:
Aggre_user_Y_Q=Aggre_user_plot_2(Aggre_user_Y, 1)

In [ ]:
Aggre_user_Y_Q

In [ ]:
#Aggre_user_alalysis_3
# def Aggre_user_plot_3(df, state):
auyqs= Aggre_user_Y_Q[Aggre_user_Y_Q["States"] == "Tamil Nadu"]
auyqs.reset_index(drop= True, inplace= True)

fig_line_1= px.line(auyqs, x= "Brands", y= "Transaction_count", hover_data= "Percentage",
                    title= " BRANDS, TRANSACTION COUNT, PERCENTAGE",width= 1000, markers= True)
fig_line_1.show()

In [ ]:
##map transaction
map_tran_tac_Y=Transaction_amount_count_Y(map_transaction,2020)

In [11]:
# Map Transaction Districts
def Map_Tran_District(df, state):
    tacy_P=df[ df["States"]==state]
    tacy_P.reset_index(drop=True,inplace=True)

    tacyg=tacy_P.groupby("District")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace= True)
    fig_bar_1= px.bar(tacyg, x= "Transaction_amount",y= "District",orientation="h",title=f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Mint_r)
    # st.plotly_chart(fig_pie_1)
    fig_bar_1.show()
    fig_bar_2= px.bar(tacyg, x= "Transaction_count",y= "District",orientation="h",title=f"{state.upper()} DISTRICT AND TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.GnBu)
    fig_bar_2.show()

In [ ]:
Map_Tran_District(map_tran_tac_Y,"West Bengal")

In [ ]:
Map_Tran_Y_Q=Transaction_amount_count_Y_Q(map_tran_tac_Y,1)

map_transaction

In [20]:
map_transaction

,States,Years,Quarter,District,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,9.316630e+05
1,Andaman & Nicobar,2018,1,south andaman district,5688,1.256020e+07
2,Andaman & Nicobar,2018,1,nicobars district,528,1.139850e+06
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1.317860e+06
4,Andaman & Nicobar,2018,2,south andaman district,9395,2.394820e+07
...,...,...,...,...,...,...
17559,West Bengal,2023,4,nadia district,36242432,6.879570e+10
17560,West Bengal,2023,4,birbhum district,20708496,3.690500e+10
17561,West Bengal,2023,4,purba medinipur district,40572042,7.981990e+10
17562,West Bengal,2023,4,maldah district,34654950,6.416730e+10
17563,West Bengal,2023,4,darjiling district,16807885,2.793990e+10

In [12]:
# Map user Plot 1
def map_user_plot_1(df, year):
    muy= df[df["Years"]== year]
    muy.reset_index(drop= True, inplace= True)

    muyg= pd.DataFrame(muy.groupby("States")[["RegisteredUser","AppOpens"]].sum())
    muyg.reset_index(inplace= True)
    fig_line_1= px.line(muyg, x= "States", y= ["RegisteredUser","AppOpens"],
                        title= f"{year} REGISTERESUSERS & APPOPENS",width= 1000,height=600, markers= True)
    fig_line_1.show()

    return muy

In [ ]:
Map_user_Y=map_user_plot_1(map_user, 2020)

In [13]:
# Map user Plot 2
def map_user_plot_2(df, quarter):
    muyq= df[df["Quarter"]== quarter]
    muyq.reset_index(drop= True, inplace= True)

    muyqg= pd.DataFrame(muyq.groupby("States")[["RegisteredUser","AppOpens"]].sum())
    muyqg.reset_index(inplace= True)
    fig_line_1= px.line(muyqg, x= "States", y= ["RegisteredUser","AppOpens"],
                        title= f"{quarter} REGISTERESUSERS & APPOPENS",width= 1000,height=600, markers= True)
    fig_line_1.show()

    return muyq

In [14]:
def map_user_plot_2(df, quarter):
    muyq= df[df["Quarter"]== quarter]
    muyq.reset_index(drop= True, inplace= True)

    muyqg= muyq.groupby("States")[["RegisteredUser", "AppOpens"]].sum()
    muyqg.reset_index(inplace= True)

    fig_line_1= px.line(muyqg, x= "States", y= ["RegisteredUser", "AppOpens"],
                        title= f"{df['Years'].min()} YEARS {quarter} QUARTER REGISTEREDUSER & APPOPENS",width= 1000, height= 600, markers= True,
                        color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_line_1.show()

    return muyq

In [ ]:
map_user_plot_2(Map_user_Y, 1)

In [26]:
#map_user_plot_3
def map_user_plot_3(df, states):
    muyqs= df[df["States"]== states]
    muyqs.reset_index(drop= True, inplace= True)

    fig_map_user_bar_1= px.bar(muyqs, x= "RegisteredUser", y= "District", orientation= "h",
                                title= f"{states.upper()} REGISTERED USER", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()
    fig_map_user_bar_2= px.bar(muyqs, x= "AppOpens", y= "District", orientation= "h",
                                title= f"{states.upper()} APPOPENS", height= 800, color_discrete_sequence= px.colors.sequential.Rainbow)
    fig_map_user_bar_2.show()

In [27]:
map_user_plot_3(df, states)

NameError: name 'df' is not defined

In [33]:
map_user_plot_2

,States,Years,Quarter,District,RegisteredUser,AppOpens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
17563,West Bengal,2023,4,nadia district,1603527,67224546
17564,West Bengal,2023,4,birbhum district,1013025,52281841
17565,West Bengal,2023,4,purba medinipur district,1589203,69991821
17566,West Bengal,2023,4,maldah district,1134600,88292475
17567,West Bengal,2023,4,darjiling district,660231,39079247

In [ ]:
# Top transactions
top_tran_tac_Y=Transaction_amount_count_Y(top_transaction,2020)

In [15]:
def Top_Tran_Q_plot_1(df,state):
    tty= df[df["States"]== state]
    tty.reset_index(drop= True, inplace= True)

    ttyg= tty.groupby("Pincodes")[["Transaction_count", "Transaction_amount"]].sum()
    ttyg.reset_index(inplace= True)
    fig_top_tran_bar_1= px.bar(tty, x= "Quarter", y= "Transaction_amount",hover_data="Pincodes",title="TRANSACTION AMOUNT",
                                    height= 800, color_discrete_sequence= px.colors.sequential.Tealgrn_r)
    fig_top_tran_bar_1.show()

In [ ]:
Top_Tran_Q_plot_1(top_tran_tac_Y,"West Bengal")

In [ ]:
ttyg

In [23]:
top_transaction

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101.0,1622,2769298
1,Andaman & Nicobar,2018,1,744103.0,1223,2238042
2,Andaman & Nicobar,2018,1,744102.0,969,3519060
3,Andaman & Nicobar,2018,1,744105.0,685,1298561
4,Andaman & Nicobar,2018,1,744104.0,340,1039715
...,...,...,...,...,...,...
8562,West Bengal,2023,4,721301.0,4133775,5718222071
8563,West Bengal,2023,4,700001.0,3983241,8039688940
8564,West Bengal,2023,4,732125.0,3950411,6557344712
8565,West Bengal,2023,4,700039.0,3742452,5608622243
8566,West Bengal,2023,4,700014.0,3652710,6184795262

In [16]:
# Top User Year plot1
def top_user_plot_1(df,year):
    tuy= df[df["Years"] == year]
    tuy.reset_index(drop= True, inplace= True)

    tuyg= pd.DataFrame(tuy.groupby(["States","Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace= True)

    fig_top_plot_1= px.bar(tuyg, x= "States", y= "RegisteredUsers", barmode= "group", color= "Quarter",
                            width=1000, height= 800, color_continuous_scale= px.colors.sequential.Burgyl)
    fig_top_plot_1.show()

    return tuy

In [ ]:
Top_user_Y= top_user_plot_1(top_user,2022)

In [17]:
def top_user_plot_2(df,state):
    tuys= df[df["States"] == state]
    tuys.reset_index(drop= True, inplace= True)

    tuysg= pd.DataFrame(tuys.groupby("Quarter")["RegisteredUsers"].sum())
    tuysg.reset_index(inplace= True)

    fig_top_plot_1= px.bar(tuys, x= "Quarter", y= "RegisteredUsers",barmode= "group",
                           width=1000, height= 800,color= "RegisteredUsers",hover_data="Pincodes",
                            color_continuous_scale= px.colors.sequential.Magenta)
    fig_top_plot_1.show()

In [35]:
top_user_plot_2(Top_user_Y,"Tamil Nadu")

In [43]:
top_user

                 States  Years  Quarter  Pincodes  RegisteredUsers
0     Andaman & Nicobar   2018        1    744103             1608
1     Andaman & Nicobar   2018        1    744101             1108
2     Andaman & Nicobar   2018        1    744105             1075
3     Andaman & Nicobar   2018        1    744102             1006
4     Andaman & Nicobar   2018        1    744104              272
...                 ...    ...      ...       ...              ...
8563        West Bengal   2023        4    700015           126663
8564        West Bengal   2023        4    742304           123320
8565        West Bengal   2023        4    721101           123088
8566        West Bengal   2023        4    700150           119283
8567        West Bengal   2023        4    700091           118578

[8568 rows x 5 columns]

In [18]:
def top_chart_registered_user(table_name, state):
    #plot_1
    query1= f'''SELECT districts, SUM(registeredusers) AS registeredusers
                FROM map_user
                WHERE states= 'Tamil Nadu'
                GROUP BY districts
                ORDER BY registeredusers DESC
                LIMIT 10;'''

    mycursor.execute(query1)
    table_1= mycursor.fetchall()
    mydb.commit()

In [47]:
top_chart_registered_user(map_user,'Andaman & Nicobar')

In [36]:
map_user

,States,Years,Quarter,District,RegisteredUser,AppOpens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
17563,West Bengal,2023,4,nadia district,1603527,67224546
17564,West Bengal,2023,4,birbhum district,1013025,52281841
17565,West Bengal,2023,4,purba medinipur district,1589203,69991821
17566,West Bengal,2023,4,maldah district,1134600,88292475
17567,West Bengal,2023,4,darjiling district,660231,39079247

In [23]:
Aggre_transaction["Transaction_type"].unique().sum()

'Recharge & bill paymentsPeer-to-peer paymentsMerchant paymentsFinancial ServicesOthers'